<div class="row mt-3">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="card shadow-lg">
      <div class="card-body bg-light-blue">
        <h5 class="card-title">Ben Daniels</h5>
        <p class="card-text font-weight-bold">London, UK</p>
        <p class="card-text"><span class="font-italic font-weight-bold">email:</span> daniels.ben.tech@gmail.com</p>
        <%= link_to 'https://github.com/bendee48', target: '_blank' do %>
          <i class="fab fa-github fa-2x index-icon"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-7"></div>
</div>
