<main class="container mt-3">
  <article class="card rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="card-title">Recursion and the Call Stack with Ruby</h5>
        </div>
        <div class="col-sm-2">
          <p>Medium Article</p>
        </div>
        <div class="col-sm-6">
          <p class="card-text">
            I think it’s fair to say recursion is one of the more confusing aspects of programming for learners.
            I recall struggling a fair bit when I first...
          </p>
        </div>
      </div>
    </div>
  </article>
<main>
