<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Tech</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2020</th>
      <td>Chess CLI</td>
      <td>Command line chess game built with Ruby.</td>
      <td>Ruby</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
