$body-bg: rgb(243, 243, 243);
//$body-color: #111;
$light-blue: #a6a2cf;

$theme-colors: (
  "primary": blue,
  "ruby": #d80000,
  "html": #fd6e35,
  "css":  #4249c9,
  "git": #2c2c2c,
  "bootstrap": #610861,
  "javascript": #fcec03,
  "light-blue": $light-blue
);
  
@import 'bootstrap/scss/bootstrap';

/*Main Styling*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}
  
i {
  color: white;
}

.index-icon {
  color: blue;
}

.jumbotron {
  margin-top: 2em;
  padding: 4rem 4rem;
  margin-bottom: 2rem;
  //background-color: #d3dce6;
  border-radius: .3rem;  
}

.name {
  font-size: 2rem;
}

/*Navbar*/

.nav-style:hover {
  box-shadow: inset 0 -.3rem 0 0 blue;
}

/*Carousel*/

.carousel-inner {
  border-radius: .5rem;
}

.carousel-caption {
  background-color: rgba(120, 71, 233, 0.7);
  border-radius: .4rem;
  margin: 0 5% 0 5%;
}

.carousel-item {
  height: 32rem;
  background-color: gray;
  background-size: center;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
  background-color: rgba(135, 184, 22, 0.575);
}

.modal-header, .modal-footer {
  background-color: $light-blue;
}

/*Article*/

.articles article a {
  background: red;
}