// $body-bg: #000;
// $body-color: #111;
$carousel-control-color: red;

$theme-colors: (
  "primary": blue,
  "ruby": #d80000,
  "git": #2c2c2c,
  "bootstrap": #610861,
  "javascript": #fcec03
  );
  
  @import 'bootstrap/scss/bootstrap';
  
i {
  color: white;
}

.jumbotron {
  margin-top: 2em;
  padding: 4rem 4rem;
  margin-bottom: 2rem;
  // background-color: #d3dce6;
  border-radius: .3rem;  
}

.name {
  font-size: 2rem;
}

.nav-style:hover {
  box-shadow: inset 0 -.3rem 0 0 blue;
}

.carousel-inner {
  border-radius: .5rem;
}

.carousel-caption {
  background-color: rgba(140, 109, 212, 0.7);
  border-radius: .4rem;
}

.carousel-item {
  height: 32rem;
  background-color: gray;
  background-size: center;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(50%);
}

