<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-4 pr-4">
  <div class="container-fluid">
    <%= link_to 'Ben Daniels', root_path, class: 'navbar-brand h1 name border-bottom border-primary' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">About</a> %>
          <%= link_to 'About', "#{root_path}#about", class: 'nav-link nav-style', 'aria-current' => 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Projects', "#{root_path}#projects", class: 'nav-link nav-style' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', "#{root_path}#contact", class: 'nav-link nav-style' %>
        </li>
      </ul>
    </div>
  </div>
</nav>